<div class="container height-100 d-flex justify-content-center align-items-center" *ngIf="!showOtp">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h2>OTP</h2>
            <h6>Please enter Your number</h6>
                <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0" style="width: 14rem;">
                          <input type="number" id="form3Example3c" placeholder="Number" class="form-control" [(ngModel)]="number" min="10" max="10"/>
                        </div>
                      </div>
            <div class="mt-4"> <button class="btn btn-danger px-4 validate" (click)="sendOtp()">Send OTP</button> </div>
        </div>
    </div>
</div>




<div class="container height-100 d-flex justify-content-center align-items-center" *ngIf="showOtp">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to verify your account</h6>
            <div> <span>A code has been sent to</span> <small>*******9897</small> </div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div>
            <div class="mt-4"> <button class="btn btn-danger px-4 validate" (click)="validate()">Validate</button> </div>
        </div>
    </div>
</div>
